.svn/
.idea/
.settings/
target/
out/
bin/
build/
*.iml
*.ipr
*.class
atlassian-ide-plugin.xml
jars/
nbactions.xml
deploy-pom.xml
/component/http/.clover/
tmp/
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes
